
body{
  background:url(napolion_battle.jpg)no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width:100%;
  position: relative;
  background-color: black;
  font-family:arial;
}
.napolion_{
  animation-name: animation_napolion;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;
  position: absolute;
  right: 30%;
  bottom: -105%;
  height: 900px;
  animation-timing-function: ease;
  z-index: 2;
}
.image2{
  margin-top: 1065px;
  margin-right:11px;
}
.name1{
  text-shadow: 0 0 5px white;
  color:white;
  font-size: 230px;
  animation-name: animation_napolion2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  display: inline-block;
  animation-play-state: running;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-left:-600px;
}
.name2{
  text-shadow: 0 0 5px white;
  text-shadow: 0 0 5px orange;
  text-shadow: 0 0 5px orange;
  color:white;
  font-size: 40px;
  position: absolute;
  margin: 0;
  left: 46%;
  top: 0%;
  transform: translateX(-50%);
  display:inline-block;
  animation-name: animation_text;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: ease;
}
.image3{
  margin-left:-21px;
  margin-bottom:-228px;
}
.image4{
  position:relative;
  bottom:20%;
  width:1269px;
}

@keyframes animation_napolion{
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(-100px);
  }
}
@keyframes animation_napolion2{
  from{
    transform: translateY(100px);
    opacity:0;
  }
  to{
    transform: translateY(-100px);
    opacity:1;
  }
}
@keyframes animation_text{
  from{
    opacity:0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(20px);
  }
}
@media (max-width:1200px){
  .name2{
  left: 66%;
  top: 96%;
}
.napolion_{
  right: 20%;
  bottom: -105%;
}
.image2{
  margin-top: 847px;
  margin-right:11px;
}
@keyframes animation_text{
  from{
    opacity:0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(20px);
  }
}

}